html *{
  -webkit-font-smoothing: antialiased;
}

body {
  margin-left: 20%;
  width: 80%;
  background-image: linear-gradient(to left, rgb(202, 228, 240), dodgerblue );
}

h3{
  font-weight: 300!important;
  font-size: 25px !important;
}

h4{
  font-size: 18px !important;
  font-weight: 300 !important;
}


footer{
  margin-top:100px;
  color: #555;
  padding: 25px;
  font-weight: 300;
  
}

.carousel {
  width: 80vw;
  
  top: 0;
}

.card.card-carousel {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px ;
  color: rgba(0,0,0,.87);
  background: #fff;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card.card-carousel img{
  border-radius: 6px;
  
}

.aside {
  position: fixed;
  width: 20%;
  height: 100vh;
  left: 0;
  top: 0;
  background-image: linear-gradient(to bottom, rgb(248, 248, 255), dodgerblue);
  border-right: 2px double rgb(143, 139, 139);
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel .carousel-indicators {
  bottom: 5px;
}

.carousel .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
  border-radius: 2px;
}

.carousel .carousel-indicators .active{
  margin: 11px 10px; 
} 

.carousel .carousel-indicators li {
  margin: 11px 10px;
}

.carousel .carousel-indicators .active {
  margin-top: 10px;
  transform: scale(1.5);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  width: 100% !important;
  transition: transform .6s ease;
  backface-visibility: hidden;
  perspective: 1000px;
}

.carousel-item.active {
  display: block;
}

.carousel .carousel-caption {
  font-family: 'audiowide';
  font-size: 25px;
  padding-bottom: 45px;
  background-color: rgba(2, 2, 2, 0.479);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  }

.carousel .carousel-caption .material-icons {
  position: relative;
  top: 5px;
}

.carousel .carousel-control-next .material-icons{
  z-index: 5;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
}

.carousel .carousel-control-prev .material-icons {
  z-index: 5;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
}

h5 {
  font-size: 60px;
  color: white;
  -webkit-text-stroke: 3px dodgerblue;
}

.footer p{
  margin-bottom: 0;
}

footer p a{
  color: #555;
  font-weight: 400;
}

footer p a:hover{
  color: #9f26aa;
  text-decoration: none;
}

.logo {
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 80%;
  margin-left: -15px;
  margin-top: 15px;
  color: #fff;
  justify-content: center;
  align-content: space-evenly;
}

.nav-item {
  margin: 10px;
  font-size: xx-large;
  text-decoration: none;
  color: white;
  text-align: center;
  font-style: inherit;
}

.nav-item:hover {
  transition: ease .5s;
  border-radius: 15px;
  
  scale: 1.1;
}

.pic {
  max-height: 100vh;
}

.biz-info {
  width: 100%;
  height: 50px;
  color: white;
  font-size: small;
}